/*-------------------------------------------------
----------------------General----------------------
-------------------------------------------------*/
html{
	scrollbar-color: #154d63 #f2f2f2;
	:-webkit-scrollbar-color: #154d63 #f2f2f2;
	scrollbar-width: thin;
	::-webkit-scrollbar-width: thin;  
}
body{
    margin:0;
    background:#EDEDED;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*color:#333333;*/
}
*::selection { background:#0e344f;color:#ffffff}
.wrapper{
    max-width: 1240px;
    margin:auto;
}
.wrapper-beschreibung{
    max-width: 1024px;
    margin:auto;
    margin-top:60px;
}
.disclaimer{
	background:#0e344f;
	text-align:center;
}
.disclaimer .wrapper{
	max-width: 1240px;
    margin:auto;
    padding:1px 0px;
}
.disclaimer p{
	color:#ffffff;
}
.disclaimer p{
	background:#0e344f;
	color:#ffffff;
	padding:8px 0px;
}

/*Navigation*/
/*--------------------------------------------------*/
nav{
    top:0;
    position: sticky;
    width:100%;
	background:#03c6b3;
    box-sizing: border-box;
    overflow: visible;
    z-index: 69;
    padding:14px 12px;
}
.navigation{
    display:grid;
    grid-column-gap: 2%;
    grid-template-columns:14% 82%;
    grid-template-areas:"icon navigation";
    padding:10px 0px;
}
nav ul{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    border-right: none;
    border-left: none;
}
.nav_icon{
    grid-area: icon;
    text-align: center;
    transition-duration: 0.2s;
    transform: rotate(-2deg);
}
.nav_icon a{
    border:none;
    text-decoration: none;
    color:#f4fcf8;
    font-size:16pt;
    border:4px solid #f4fcf8;
    font-weight:600;
    font-family:sans-serif;
    padding: 8px 12px;
    transition-duration: 0.4s;
    letter-spacing:-1pt;
    
}
.nav_icon a:hover{
	color:#c5f7e0;
	border:4px solid #c5f7e0;
}
.nav_icon:hover{
	transform: rotate(2deg);
}
.nav_icon img{
    height:auto;
    width:auto;
    transition-duration: 0.2s;
}
/*Navigationsliste*/
.nav_navigation{
    grid-area: navigation;
}
nav ul{
    list-style-type: none;
    float:right;
}
nav ul li{
    padding: 0px 8px;
    transition-duration: 0.2s;
}
nav li a{
    color:#f4fcf8;
    text-decoration: none;
    text-align: center;
    font-size: 13pt;
    font-weight: 400;
    border:none;
    transition-duration: 0.2s;
}
nav li a:hover{
	color:#c5f7e0;
	font-size: 13.2pt;
}
/*Siegel Suche*/
/*--------------------------------------------------*/
input{  
    width: 60%;
    margin:auto;
    font-size: 16pt;
    padding:20px;
    border:2px solid #f4f4f4;
    background:#f4f4f4;
    color:#323e59;
    box-sizing: border-box;
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.15);
    float:center;
    border-radius:8px;
    transition-duration: 0.4s;
    z-index: 3;
}
input:focus{
    border:2px solid #154d63;
}
.search_input{
    width:100%;
    margin:auto;
    z-index: 3;
}
.search{
    padding:20px 0px;
    margin:auto;
    text-align:center;
    background:none;
    box-sizing: border-box;
	bottom:-40pt;
	position:relative;
	z-index: 3;
}
/*Siegel Suche Liste*/
/*--------------------------------------------------*/
.wrapper-nav{
    max-width: 1024px;
    margin:auto;
    margin-top:-150px;
}
#match-list{
    margin-bottom:40px;
    box-sizing: border-box;
    background:#f2f2f2;
    overflow:scroll;
    overflow-x: hidden;
    wider:100%;
	scrollbar-width: thin; 
	::-webkit-scrollbar-width: thin;    
	scrollbar-color: #154d63 #f2f2f2;
	::-webkit-scrollbar-color: #154d63 #f2f2f2;
	border-radius:4px;
	box-shadow:0px 2px 30px rgba(0, 0, 0, 0.10);
	border:none;
}
#names{
	list-style-type: none;
    width:auto;
	margin-right:0px;
	margin-top:24px;
	margin-bottom:24px;	
	max-height:400px;
	padding:36px;
	border:none;
}
.collection-item{
    margin-bottom:14px;
    background:#ffffff;
    min-height:100px;
    border-radius:8px;
    box-shadow:0px 1px 4px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border:none;
    outline: none;
    transition-duration:0.2s;
}
.collection-item details:focus{
	outline: none;
	outline:none -webkit-focus-ring-color;
	border:none;
}
.collection-item:hover{
	background:#f7f9f8;
}
.aligner{
	height:auto;
	line-height: 133px;
	padding-left:24px;
}
.aligner a{
    font-family: sans-serif;
    font-weight: 400;
    text-decoration:none;
}
#names li summary{
	font-size: 16pt;
	color:#474747;
	list-style: none;
	list-style-type: none;
	border:none;
	outline: none;
}
#names li summary:focus{
	border:none;
	outline:none -webkit-focus-ring-color;
}
#names details summary::-webkit-details-marker{
	display:none;
}
details summary .danach:after{
	content: "➕";
}
details[open] summary .danach:after {
	content: "➖";
}
.collection-item details summary{
	display:grid;
	grid-column-gap: 2%;
    grid-template-columns:56% 4% 32%;/*!*/
}
/*!*//*!*//*!*/
.davor:before{
	font-size:18pt;
}
.bio .davor:before{
	content: "🌱 ";
}
.nrg .davor:before{
	content: "♻️ ";
}
.spiel .davor:before{
	content: "🕹️ ";
}
.sicher .davor:before{
	content: "🛡️️ ";
}
.strom .davor:before{
	content: "🔌 ";
}
.sieger .davor:before{
	content: "🏆 ";
}
.bildschirm .davor:before{
	content: "🖥️ ";
}
.internet .davor:before{
	content: "🌐 ";
}
.neutral .davor:before{
	content: "🔗 ";
}
.radio .davor:before{
	content:"📡 "
}
.factory .davor:before{
	content:"🏭 "
}
.vegan .davor:before{
	content:"🥦 "
}
.baum .davor:before{
	content:"🌲 "
}
.fisch .davor:before{
	content:"🐟 "
}
.ei .davor:before{
	content:"🥚 "
}
.hygene .davor:before{
	content:"🧼 "
}
.fair .davor:before{
	content:"🤝 "
}
.brett .davor:before{
	content:"🎲 "
}
.film .davor:before{
	content:"🎬 "
}
.game .davor:before{
	content:"🎮 "
}
.toy .davor:before{
	content:"🧸 "
}
.ton .davor:before{
	content:"🔊 "
}
.kino .davor:before{
	content:"🎞️ "
}
#names li{
    color:#4f4f4f;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12pt;
    line-height: 14pt;
    width:100%;
    box-sizing: border-box;
    display:block;
}
.collection-item details summary:hover img{
	opacity: 0.9;
	filter: grayscale(var(--value, 0%));
}
.collection-item img{
	width:auto;
    height: 80px;
    padding-top:24px;
    opacity: 0.75;
    filter: grayscale(var(--value, 40%));
    -webkit-filter: grayscale(var(--value, 40%));
    transition-duration: 0.2s;
    transition-property: filter, opacity;
}
.collection-item details p{
	grid-area:text;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14pt;
    line-height:20pt;
    padding:0px 24px;
    padding-bottom:34px;
}
/*Header*/
/*--------------------------------------------------*/
header{
	background:#03c68c;
	background-image: linear-gradient(#03c6b3, #03c68c);
	padding-bottom:40px;
	padding-left:60px;
	padding-right:60px;
	text-align:center;
}
header .wrapper{
	margin-bottom:60px
}
header h1{
	font-size:45pt;
	font-weight:600;
	color:white;
	font-family: sans-serif;
	letter-spacing:-2pt;
	text-shadow:	0px  1px 0px #154d63,
					0px  2px 0px #154d63,
					0px  3px 0px #154d63,
					0px  4px 0px #154d63,
					0px  5px 0px #154d63,
					0px  6px 0px #154d63;
	margin-bottom:40px;
}
header p{
	margin:auto;
	max-width:740px;
	margin-bottom:10px;
	font-size:16pt;
	font-weight:400;
	color:#f9fcfa;
	font-family: sans-serif;
	line-height:20pt;
}
.wasmachste{
	margin:50px 0px;
	width:100%;
	text-align:center;
}
.wasmachste p{
	max-width: 1240px;
	margin:auto;
}
.wasmachste a{
	text-decoration:none;
	font-size: 14pt;
    font-weight: 600;
    margin-right:20px;
    padding-bottom:4px;
    color:white;
    font-family: sans-serif;
    border-bottom:solid 2px white;
    transition-duration: 0.2s;
    cursor: pointer;
}
.wasmachste a:hover{
	color:#c5f7e0;
	border-bottom:solid 2px #d7f7e8;
}
.aufforderung{
	margin:10px 0px 60px 0px ;
}
/*Main*/
/*--------------------------------------------------*/
.kurzbeschreibung{
	display:grid;
	grid-column-gap: 2%;
	grid-template-columns:30% 68%;
	margin-bottom:50px;
}
.kurzbeschreibung.anders{
	display:grid;
	grid-column-gap: 2%;
	grid-template-columns:68% 30%;
	margin-bottom:50px;
}
.kurzbeschreibung div{
	background:white;
	border-radius:8px;
	box-shadow:0px 4px 8px rgba(0, 0, 0, 0.15);
	box-sizing:order-box;
	padding:14px 20px;
}
.kurzbeschreibung h1{
	color:#4b4b4c;
}
.kurzbeschreibung p{
	color:#4b4b4c;
	font-size:14pt;
	line-height:20pt;
}
.kurzbeschreibung .image{
	height:280px;
}
#psycho .image{
	background-image:url("https://mobil.express.de/image/37599166/2x1/940/470/dcd8c1a3c617756df853fa71cba1fb03/uv/einkauf-symbolbild-10112020.jpg");
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
}
#label .image{
	background-image:url("https://www.greensurance.de/einkaufsratgeber/wp-content/uploads/sites/4/2017/03/logos_bio.jpg"), url("https://upload.wikimedia.org/wikipedia/de/8/8e/EierMitBiosiegel.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
#netzteil .image{
	background-image:url("Bilder/netzteildasbildzumfilm.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
#fake .image{
	background-image:url("https://digitalgefesselt.de/wp-content/uploads/2015/09/guetesiegel-online-shops.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
#experement .image{
	background-image:url("Bilder/Experement Bild.jpeg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
/*Faq*/
/*--------------------------------------------------*/
#faq {
	padding-top:100px;
}
.faq-header{
	font-size:24pt;
	color:#0e344f;
}
#faq summary{
	font-size:20pt;
	color:#303030;
	border:none;
	outline: none;
}
#faq details{
	font-size:18pt;
	color:#303030;
	margin-bottom:30px;
	border-bottom:1px #cccccc solid;
	padding-bottom:10px;
	outline: none;
}
#faq details p{
	font-size:16pt;
}
#faq details:focus{
	border:none;
	outline: none;
}
#links{
	list-style-type: none;
	color:#03c6b3;
	font-size:16pt;
}
#links li{
	list-style-type: square;
	margin:20px 0px;
}
/*Footer*/
/*--------------------------------------------------*/
footer{
	background:#1c1c1c;
	color:grey;
	font-size:10pt;
	margin-top:100px;
	color:grey;
	padding:24px 12px;
}
.footer-container{
	display:grid;
	grid-column-gap:1%;
	grid-template-columns:32% 32% 32%;
}
.foot-image{

}
.foot-sitemap{

}
.foot-sitelist ul{
	list-style-type:none;
}
.foot-sitelist li{
	margin:8px;
}
footer a{
	color:grey;
	transition-duration:0.2s;
	cursor: pointer;
	text-decoration:none;
}
.foot-sitelist a:hover{color:#03c6b3}
.foot-disclaimer{
	word-wrap: break-word;
}
.footerbeschreibung{
	margin-top:40px;
	text-align:center;
	font-size:11pt;
}
.footerbeschreibung a{
	margin-top:40px;
	text-align:center;
	font-size:11pt;
	color:#03c6b3;
}
/*Quellen Seite*/
/*--------------------------------------------------*/
.quellenliste{
	list-style-type:none;
	width:100%;
	margin-left:-40px;
}
.quellenlisten-item{
	display:grid;
	grid-column-gap:4%;
	grid-template-columns:20% 76%;
	color:black;
	font-size:11pt;
	margin-bottom:12px;
	padding:6px;
	transition-duration:0.2s;
}
.quellenlisten-item:hover{
	background:#e0e0e0;
}
.quelle{
	color:#03c6b3;
	word-wrap:wrap-word;
}
.quelleitem{
	color:#a0a0a0;
}
/*Tablet Optimization*/
/*--------------------------------------------------*/
@media only screen and (max-width: 1024px){
.wrapper{
	margin:0px 10px;
}

}
/*Handy Optimization*/
/*--------------------------------------------------*/
@media only screen and (max-width: 400px){


}
